/*  css */
body {
    background-color: #131316;
    color: #ffffff;
    font-family: serif;
    padding: 0;
    margin: 0;
}

/* https://www.youtube.com/watch?v=vNwoDkn7AIc, om te begrijpen verschil tussen place-items en place-content */
div {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;

}
