/* Main page css */
body {
    background-color: #131316; /* kleur gaat per blok moeten verschillen, dus dit wordt straks weggedaan */
    color: #ffffff; /*dit ook */
    font-family: serif;
    padding: 0;
    margin: 0;
}