/*  css */
/*body {
    background-color: #131316;
    color: #ffffff;
    font-family: serif;
    padding: 0;
    margin: 0;
}

/* https://www.youtube.com/watch?v=vNwoDkn7AIc, om te begrijpen verschil tussen place-items en place-content */
/*div {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;

}

/* GLOBAL STYLES */
body {
    background: black;
    display: flex;
    justify-content: left;
  }

p{
    color: rgb(0, 255, 0);
    font-family: Courier;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid greenyellow; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */


    animation: 
      typing 0.5s steps(30, end),
      blink-caret .5s step-end infinite;

    
  }
  /* SPECIFIC STYLES */

  /*de knop*/

  #start_button{
    display: block;
    border: none;
    background: none;
    color:rgb(0, 255, 0);
    font-family: Courier;
    font-size: 5vh;
    margin: 0 auto;
    margin-top: 25%;
  }

  #start_button:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  /*De link om verder te gaan*/
  #main_link{
    color: rgb(0, 255, 0);
    font-family: Courier;
    position: absolute;
    bottom: zero;
    
  }

  .typewriter {
    display: none;
    margin: 5vh 10vh;
    color: rgb(0, 255, 0);
    font-family: Courier;
    
  }

  .typewriter p{
    color: rgb(0, 255, 0);
    font-family: Courier;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid greenyellow; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    max-width: 100vh;


    animation: 
      typing 0.5s steps(50, end),
      blink-caret .5s step-end infinite;

    
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 255, 0) }
  }

  