/* Main page css */
body {
    background-color: white; /* kleur gaat per blok moeten verschillen, dus dit wordt straks weggedaan */
    color: black; /*dit ook */
    font-family: serif;
    padding: 0;
    margin: 0;
}

.stage_1{
    height: 100vh;
    background-color: white;
    box-sizing: border-box;
    color: black;
    margin: 14px;
}

.stage_2{
    height: 100vh;
    background-color: rgb(215, 176, 147);
    box-sizing: border-box;
}

p{
    margin: 0;
}
