/* Main page css */
/* dit is voor universele css. geldt overal, als je per blok wil aanpassen dat kan, zorg dan dat de element die je wil aanpassen een eigen class/id heeft
   en pas hem aan via de class/id selector, niet de element selecteren dus*/
* {
    box-sizing:border-box
}

h1 {
  margin: 0px;
}

body {
    background-color: white; /* kleur gaat per blok moeten verschillen, dus dit wordt straks weggedaan */
    color: black; /*dit ook */
    font-family: serif;
    padding: 0;
    margin: 0;
}

/* vanaf hier begint het per blok*/
/* 1991 */
/*eerste website ooit*/
.stage_1{
    height: 100vh;
    background-color: violet;
    margin: 14px;
    margin-bottom: 0px;

}

#first_ever_h1{
  margin: 21.44px 0;
}

/*intro CSS*/
/*1996*/
/* Hide the images by default */
.intro_slides {
  display: none;
}

/* Next & previous buttons */
.intro_prev, .intro_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: -500px;
}


/* Position the "next button" to the right */
.intro_next {
  right: -27px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.intro_prev:hover, .intro_next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.intro_captext {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.intro_numbers {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/* 1993 */
.stage_2{
    height: 100vh;
    background-color: rgb(215, 176, 147);
}

/*Landing page design*/
/*1996*/
.mtv_parent{
  height: 100vh;
}
.mtv_child{
  width: 100%;
  height: 100%;
  background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/blueandrednautical-11-091815-145_thumb.jpg');
  background-position: center;
  background-size: 136vh;

}

#mtv_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1vh;
  width: 40%;
}

#mtv_link{
  color: black;
  padding-top: 10vh;
}



/*1995-1996*/
.stage_3 {

  text-align: left;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  background-color: rgba(0,0,0,0.8);
  background-image: url("https://media.discordapp.net/attachments/560576671225479212/1078062370569601064/aloha_na_babkah_adobe_express.png");
  background-size: cover;
  color: white;
  align-items: center;
}
/*html tabel vanaf hier*/
/*centreren van tabel*/
.center {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(48, 41, 93, 0.5);
}

.snow, .snow2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://i.ibb.co/DbKS19P/snow.png);
  background-position: 0 0;
}

.snow {
  background-size: 70em;
  animation: 
    snowfall 30s linear infinite;
}

.snow2 {
  background-size: 50em;
  animation:
    snowfall2 30s linear infinite;
  opacity: 0,5;
}

.text{
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}
@keyframes snowfall {
  100% {
    background-position: 70em 70em;
  }
}
@keyframes snowfall2 {
  100% {
    background-position: 50em 0;
  }
}


/* css voor snowflakes, de positie moet nog verandert worden, momenteel zit hij bij stage 4 */


/* stage 4 en 5 worden vanaf nu gebruikt voor de parallax scrolling effect */


.stage_4 {
  position: relative;
  transform-style: preserve-3d;
  background-image: url("https://media.discordapp.net/attachments/940686231933714443/1078597610471964702/Mountain.png?width=705&height=353");
  background-size: cover;
}



/* css voor snowflakes, de positie moet nog verandert worden, momenteel zit hij bij stage 5 */



.stage_4{
    height: 100vh;
    background-color: rgb(215, 176, 147);
}

p{
    margin: 0;
}


/* 2010-2015 stage                      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.resp_design{
    text-align: center;
    background-color: cyan;
    height: 100vh; 
}

.resp_p {
    border-style: solid;
    border-color: purple;
    
} 
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: -500px;
}


/* Position the "next button" to the right */
.next {
  right: -27px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.capText {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*images */
#img_ipad{
  max-width: 100%;
  max-height: 100vh;
 }
 
#img_iphone{

  max-width: 390px;

 }

.resp_images{
  max-height: 540px;
 }

/*@media screen and (max-width: 400px) {

    .resp_design{
 
    }
}*/


