.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 20px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }


